In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

/Users/kolobj/anaconda/envs/cmu3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/kolobj/anaconda/envs/cmu3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [4]:
nfl_frame = pd.read_clipboard()

In [6]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,3,Dallas Cowboys,882,502,374,6,0.573,1960,NFC East
1,2,Green Bay Packers,"1,336",737,562,37,0.565,1921,NFC North
2,1,Chicago Bears,"1,370",749,579,42,0.562,1920,NFC North
3,4,Miami Dolphins,800,445,351,4,0.559,1966,AFC East
4,5,New England Patriots[b],884,489,386,9,0.558,1960,AFC East
5,6,Minnesota Vikings,870,470,390,10,0.546,1961,NFC North
6,7,Baltimore Ravens,352,190,161,1,0.541,1996,AFC North
7,8,New York Giants,"1,305",687,585,33,0.539,1925,NFC East
8,9,Denver Broncos,884,470,404,10,0.537,1960,AFC West
9,10,San Francisco 49ers,"1,002",528,460,14,0.534,1950,NFC West
10,11,Pittsburgh Steelers,"1,179",614,538,20,0.532,1933,AFC North
11,12,Oakland Raiders,884,462,411,11,0.529,1960,AFC West
12,13,Indianapolis Colts[c],966,506,453,7,0.527,1953,AFC South
13,14,Kansas City Chiefs,884,457,415,12,0.524,1960,AFC West
14,15,Seattle Seahawks,660,334,325,1,0.507,1976,NFC West
15,16,Washington Redskins,"1,202",595,581,28,0.506,1932,NFC East
16,17,Carolina Panthers,368,183,184,1,0.499,1995,NFC South
17,18,Los Angeles Chargers[d],884,435,438,11,0.498,1960,AFC West
18,19,Los Angeles Rams,"1,135",555,559,21,0.498,1937,NFC West
19,20,Cleveland Browns,954,462,482,10,0.490,1950,AFC North
20,21,Philadelphia Eagles,"1,188",568,594,26,0.489,1933,NFC East
21,22,Tennessee Titans,884,422,456,6,0.481,1960,AFC South
22,23,Buffalo Bills,884,409,467,8,0.467,1960,AFC East
23,24,Detroit Lions,"1,233",553,648,32,0.461,1930,NFC North
24,25,Cincinnati Bengals,772,351,417,4,0.457,1968,AFC North
25,26,New York Jets,884,397,479,8,0.454,1960,AFC East
26,27,Jacksonville Jaguars,368,165,203,0,0.448,1995,AFC South
27,28,New Orleans Saints,786,349,432,5,0.447,1967,NFC South
28,29,Atlanta Falcons,800,351,443,6,0.443,1966,NFC South
29,30,Houston Texans,256,110,146,0,0.430,2002,AFC South
30,31,Arizona Cardinals,"1,330",550,740,40,0.429,1920,NFC West
31,32,Tampa Bay Buccaneers,660,255,404,1,0.387,1976,NFC South

In [7]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [12]:
nfl_frame['First NFL Season']

0     1960
1     1921
2     1920
3     1966
4     1960
5     1961
6     1996
7     1925
8     1960
9     1950
10    1933
11    1960
12    1953
13    1960
14    1976
15    1932
16    1995
17    1960
18    1937
19    1950
20    1933
21    1960
22    1960
23    1930
24    1968
25    1960
26    1995
27    1967
28    1966
29    2002
30    1920
31    1976
Name: First NFL Season, dtype: int64

In [10]:
nfl_frame.Rank

0      3
1      2
2      1
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
Name: Rank, dtype: int64

In [9]:
nfl_frame.Team

0              Dallas Cowboys
1           Green Bay Packers
2               Chicago Bears
3              Miami Dolphins
4     New England Patriots[b]
5           Minnesota Vikings
6            Baltimore Ravens
7             New York Giants
8              Denver Broncos
9         San Francisco 49ers
10        Pittsburgh Steelers
11            Oakland Raiders
12      Indianapolis Colts[c]
13         Kansas City Chiefs
14           Seattle Seahawks
15        Washington Redskins
16          Carolina Panthers
17    Los Angeles Chargers[d]
18           Los Angeles Rams
19           Cleveland Browns
20        Philadelphia Eagles
21           Tennessee Titans
22              Buffalo Bills
23              Detroit Lions
24         Cincinnati Bengals
25              New York Jets
26       Jacksonville Jaguars
27         New Orleans Saints
28            Atlanta Falcons
29             Houston Texans
30          Arizona Cardinals
31       Tampa Bay Buccaneers
Name: Team, dtype: object

In [16]:
nfl_frame['Division']

0      NFC East
1     NFC North
2     NFC North
3      AFC East
4      AFC East
5     NFC North
6     AFC North
7      NFC East
8      AFC West
9      NFC West
10    AFC North
11     AFC West
12    AFC South
13     AFC West
14     NFC West
15     NFC East
16    NFC South
17     AFC West
18     NFC West
19    AFC North
20     NFC East
21    AFC South
22     AFC East
23    NFC North
24    AFC North
25     AFC East
26    AFC South
27    NFC South
28    NFC South
29    AFC South
30     NFC West
31    NFC South
Name: Division, dtype: object

In [17]:
DataFrame(nfl_frame, columns=['Rank', 'First NFL Season', 'Division'])

    Rank  First NFL Season   Division
0      3              1960   NFC East
1      2              1921  NFC North
2      1              1920  NFC North
3      4              1966   AFC East
4      5              1960   AFC East
5      6              1961  NFC North
6      7              1996  AFC North
7      8              1925   NFC East
8      9              1960   AFC West
9     10              1950   NFC West
10    11              1933  AFC North
11    12              1960   AFC West
12    13              1953  AFC South
13    14              1960   AFC West
14    15              1976   NFC West
15    16              1932   NFC East
16    17              1995  NFC South
17    18              1960   AFC West
18    19              1937   NFC West
19    20              1950  AFC North
20    21              1933   NFC East
21    22              1960  AFC South
22    23              1960   AFC East
23    24              1930  NFC North
24    25              1968  AFC North
25    26              1960   AFC East
26    27              1995  AFC South
27    28              1967  NFC South
28    29              1966  NFC South
29    30              2002  AFC South
30    31              1920   NFC West
31    32              1976  NFC South

In [14]:
DataFrame(nfl_frame,columns=['Team', 'Season', 'Total', 'Stadium'])

      Team Season  Total  Stadium
0   Dallas    866    NFC      NaN
1    Green   1921  1,320      NaN
2  Chicago  1,354    NFC      NaN
3    Miami    784    AFC      NaN
4      New   1960    868      NaN

In [15]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots[b],476,383,9.000,0.554,1960,868,AFC,East

In [16]:
nfl_frame.head(2)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North

In [17]:
nfl_frame.tail(2)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots[b],476,383,9.000,0.554,1960,868,AFC,East

In [19]:
nfl_frame.loc[3]

Rank               4
Team           Miami
Won         Dolphins
Lost             439
Tied             341
Pct.               4
First          0.563
NFL             1966
Season           784
Total            AFC
Games           East
Division         NaN
Name: 3, dtype: object

In [20]:
nfl_frame['Stadium'] = 'BK\'s Stadium'

In [21]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,BK's Stadium
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,BK's Stadium
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,BK's Stadium
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,BK's Stadium
4,5,New,England,Patriots[b],476,383,9.000,0.554,1960,868,AFC,East,BK's Stadium

In [23]:
nfl_frame['Stadium'] = np.arange(5)

In [24]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,0
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,1
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,2
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,3
4,5,New,England,Patriots[b],476,383,9.000,0.554,1960,868,AFC,East,4

In [28]:
stadiums = Series(['Cowboys', 'AT&T Stadium'], index=[4,0])

In [29]:
stadiums

4         Cowboys
0    AT&T Stadium
dtype: object

In [30]:
nfl_frame['Stadium'] = stadiums

In [31]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,AT&T Stadium
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,NaN
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,NaN
4,5,New,England,Patriots[b],476,383,9.000,0.554,1960,868,AFC,East,Cowboys

In [32]:
del nfl_frame['Stadium']

In [33]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots[b],476,383,9.000,0.554,1960,868,AFC,East

In [34]:
data = { 'City':['SF', 'LA', 'NYC'], 'Population': [837000,3880000,840000]}

In [35]:
city_frame = DataFrame(data)

In [36]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC      840000